.container {
  width: 500px;
  height: 400px;
  border: 1px solid darkblue;
  /* nuo jo skaiciuosim absolute vaiko atskaitos taska */
  position: relative;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.container > p {
  color: rebeccapurple;
}
