/* Globals */
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: darkgray;
}
/* Navigacija */
.main-nav {
  background-color: black;
  color: white;
}
.nav-items {
  float: right;
}
/* atstumiu el vienus nuo kitu */
.main-nav a {
  padding: 15px;
  display: inline-block;
}
/* kad bloko elementas neuzimtu viso plocio o tik tiek kiek pavadinmas */
.submenu-container {
  display: inline-block;
  position: relative;
}
.submenu-heading {
  color: white;
  padding: 15px;
}
.submenu {
  position: absolute;
  background-color: white;
  color: black;
  width: 140px;
  border-radius: 10px;
  /* atsirandantis meniu kairiau */
  left: -100px;
  top: 54px;
  /* pasleptas is pradziu */
  display: none;
}
/* kai uzvedu pelyte and submenu-container
parodyti submeniu elmeneta  */
.submenu-container:hover .submenu,
.submenu-heading:hover ~ .submenu {
  display: block;
}
.submenu a {
  display: block;
}
/* Submeniu ensancias nuorodas kai uzvedam pelyte */
.submenu a:hover {
  background-color: tomato;
}
